body {
  margin: 0px;
  background: white;
  color: rgb(20, 20, 20);
  font-family: Verdana, sans-serif;
	font-size: 18px;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: Verdana, sans-serif;
  font-weight: lighter;
}
h1 {
	font-size: 30px;
  color: #55b87c;
}
h2 {
  font-size: 14px;
  color: #212121;
}
a {
  color: green;
  text-decoration: none;
}
a:hover {
  color: black;
}


.perfect-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #55b87c;
}

.img-border {

}    
#logo { /* select the element with the id="logo" */
width: 100px;

}

.list-inline {
  display: inline;
  list-style: none;
  padding-left: 0px;  
}

list-inline {
  display: inline;
  list-style: none;
  padding-left: 0px;  
